.account-preview {
	/*border: 2px solid orange;*/
	overflow-y: hidden;
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid #d9d9d9;
}

.account-name {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	margin: 0;
}

.account-title {
	margin: 50px;
	border-bottom: 2px solid green;
}

.account-page {
	display: flex;
}

.account-page-info {
	flex: 1;
	margin: 0 100px 100px;
	text-align: left;
	font-size: 22px;
}

.account-page-buttons {
	flex: 1;
}

.account-field {
	margin: 0;
}

.account-field-label {
	font-weight: bold;
	margin: 0;
}

.account-info-flex {
	display: flex;
}

.account-info-left {
	flex: 1;
}

.account-info-right {
	flex: 1;
}

.admin-badge {
	color: red;
	font-size: 14px;
}