.auction-preview {
	/*border: 2px solid orange;*/
	overflow-y: hidden;
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid #d9d9d9;
}


.preview-image {
	float: left;
	width: 150px;
	height: 150px;
	border: 0.5px solid #d9d9d9;
}

.preview-text {
	/*border: 2px solid hotpink;*/
	text-align: left;
	margin-left: 150px;
	padding-left: 10px;
}

.preview-details {
	/*border: 2px solid green;*/
	display: flex;
	justify-content: space-between;
}

.preview-details-left {
	/*border: 1px solid red;*/
}

.preview-details-right {
	/*border: 1px solid blue;*/
	margin-right: 50px;
}

.preview-title {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	margin: 0;
}

.preview-title:hover {
	color: #000;
	text-decoration: underline;
}


.preview-categories {
	margin: 0;
	font-size: 16px;
}

.preview-location {
	margin: 0;
	font-size: 16px;
	color: grey;
}

.preview-current-price {
	font-size: 20px;
	margin: 0;
	font-style: italic;
	font-weight: bold;
}

.preview-buy-price, .preview-ends-at {
	font-size: 16px;
	margin: 0;
}

.preview-completed {
	margin: 12px 0 0;
	font-size: 18px;
	font-style: italic;
	color: red;
}

.preview-menu {
	float: right;
}

.preview-title-group {
	display: flex;
	justify-content: space-between;
}

.auction-page {
	margin: 0 50px;
}

.auction-seller {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.auction-info {
	/*border: 2px solid orange;*/
	margin: 50px 100px 0;
	padding: 10px;
	overflow: hidden;
}

.auction-info-top {
	/*border: 2px solid purple;*/
	overflow: hidden;
}

.auction-info-bottom {
	/*border: 2px solid magenta;*/
	text-align: left;
}


.auction-text {
	/*border: 2px solid hotpink;*/
	text-align: left;
	margin-left: 200px;
	padding-left: 10px;
}


.auction-details {
	/*border: 2px solid green;*/
	display: flex;
	/*justify-content: space-between;*/
}

.auction-details-left {
	/*border: 1px solid red;*/
	flex: 1;
}

.auction-details-right {
	/*border: 1px solid blue;*/
	margin-right: 50px;
	text-align: center;
	flex: 1;
}


.auction-description-title {
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
}

.auction-description {
	margin: 10px;
	white-space: pre-wrap;
}

.auction-pictures {
	margin: 10px;
	text-align: center;
	flex: 1;
	/*border: 2px solid cyan;*/
}

.auction-media {
	display: flex;
}

.auction-bids {
	/*border: 2px solid green;*/
	margin: 20px 100px;
}

.auction-bids-title {
	font-size: 22px;
	border-bottom: 2px solid green;
}

.auction-bids-list {
	/*border: 2px solid orange;*/
}

.bid-preview {
	margin: 20px 40px;
	padding: 20px 40px;
	border: 2px solid #d9d9d9;
	border-radius: 10px;
}

.bid-preview-bid {
	margin: 0 20px;
	border: 2px solid grey;
	border-radius: 5px;
}

.bid-preview-categories {
	margin: 0 0 5px;
	font-size: 16px;
	color: grey;
	text-align: left;
}

.recommendations {
	margin-top: 30px;
	font-size: 16px;
}

.recommendation-title {
	font-size: 16px;
	color: #4a4a4a;
}

.recommendation-title:hover {
	color: #000;
}

.recommendation-categories {
	font-size: 14px;
	color: grey;
}
