
.bidder {
	padding: 5px;
}

.bidder-username-big {
	font-size: 18px;
	margin: 0;
}

.seller-rating-big {
	font-size: 14px;
	color: orange;
	margin: 0;
}

.bidder-rating-big {
	font-size: 14px;
	color: green;
	margin: 0;
}

.bidder-location-big {
	font-size: 14px;
	margin: 0;
	color: grey;
}

.bidder-username-small {
	font-size: 14px;
	margin: 0;
}

.seller-rating-small {
	font-size: 12px;
	color: orange;
	margin: 0;
}

.bidder-rating-small {
	font-size: 12px;
	color: green;
	margin: 0;
}

.bidder-location-small {
	font-size: 12px;
	margin: 0;
	color: grey;
}




.bid {
	border-bottom: 2px solid #d9d9d9;
	padding: 10px;
	display: flex;
	align-items: center;
}

.bid-details {
	/*border: 2px solid yellow;*/
	flex: 1;
}

.bid-amount {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.bid-time {
	font-size: 14px;
	margin: 0;
	color: grey;
}

.bid-bidder {
	flex: 1;
	/*border: 2px solid orange;*/
}