
input[type=text], input[type=password] {
	margin: 4px;
	padding: 5px;
	/*width: 150px;*/
	background-color: #f5f5f5;
	border-radius: 6px;
/*	border: 2px inset;*/
	border: 1px solid #ccc;
/*	box-sizing: border-box;*/
}

input[type=text]:focus:read-write, input[type=password]:focus:read-write {
	border: 1px solid;
	border-color: #00d6cb;
	box-shadow: 0 1px 5px 1px #ccc;
}

.email-box {
	width: 287px;
}

.field-label {
	font-size: 16px;
	margin: 0;
}

.info-title {
	margin: 5px 0;
}

.date-picker-field {
	width: 170px;
}

.field-error-message {
	color: red;
	font-size: 14px;
}

.form-error-message {
	margin: 0;
	margin-bottom: 10px;
	background-color: #ff6666;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
	padding: 3px;
	box-shadow: 0 0 8px 6px #ff6666;
}

.address-error-message {
	margin-bottom: 5px;
	font-size: 15px;
	color: red;
	background-color: #a8a8a8;
	border-radius: 6px;
	box-shadow: 0 0 8px 6px #a8a8a8;
}


.submit-button {
	border: none;
	margin: 0 20px;
	/*background-color: #b5ebeb;*/
	background-color: #d9d9d9;
	border-radius: 6px;
	padding: 10px 30px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #cfcfcf;
}



.cancel-button {
	border: none;
	margin: 0 20px;
	/*background-color: #b5ebeb;*/
	background-color: #ff6f63;
	border-radius: 6px;
	padding: 10px 30px;
	cursor: pointer;
}

.cancel-button:hover {
	background-color: #f0665b;
}



.address-button {
	border: none;
	margin: 5px 8px;
	/*background-color: #b5ebeb;*/
	background-color: #d9d9d9;
	border-radius: 6px;
	padding: 6px;
	width: 80px;
	cursor: pointer;
}

.address-button:hover {
	background-color: #cfcfcf;
}


.btn-margin {
	margin: 5px !important;
}

.btn-set-size {
	width: 180px;
}


.login-form {
	background-color: white;
	color: #000;
	width: 300px;
	padding: 20px;
	margin: 45px auto 100px;
	border-radius: 8px;
	box-shadow: 0 4px 20px 6px grey;
}

.signup-form-group {
	margin: 45px auto 50px;
/*	border: 5px solid red;*/
	width: 760px;
	display: flex;
	border-radius: 8px;
	box-shadow: 0 4px 20px 6px grey;
}

.signup-form {
	background-color: white;
	color: #000;
	width: 500px;
	padding: 20px;
	text-align: center;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
/*	border: 3px solid green;*/
}

.address-form {
	background-color: #3b3b3b;
	color: #fff;
	width: 260px;
	padding: 20px;
	text-align: center;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
/*	border: 3px solid blue;*/
}

.form-link:link {
/*	color: #003333;*/
	color: #009c94;
}

.form-link:visited {
	color: #036e50;
}

.form-link:hover {
	color: #00c7bd;
}


.new-auction-form-group {
	margin: 45px auto 50px;
	padding: 0;
	width: 860px;
	display: flex;
	border-radius: 8px;
	box-shadow: 0 4px 20px 6px grey;
}

.new-auction-form {
	background-color: white;
	color: #000;
	width: 600px;
	padding: 20px;
	margin: 45px 60px 100px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow: hidden;
	text-align: center;
}

.new-auction-select {
	border: 2px solid red;
	text-align: center;
}

.new-category-form {
	background-color: white;
	color: #000;
	width: 500px;
	padding: 20px;
	margin: 45px auto 100px;
	border-radius: 8px;
	box-shadow: 0 4px 20px 6px grey;
}

.add-image-picture {
	float: left;
	border: 0.5px solid #d9d9d9;
	cursor: pointer;
}


.category-selector-container {
	margin: 50px 0 25px;
}

.category-selector {
	margin: 5px;
}

.date-picker-container {
	margin-top: 20px;
}

.description-container {
	margin: 40px 0;
}

.description-input {
	box-shadow: none;
}

