.title-header {
	background-color: #1a1a1a;
	color: #fff;
	margin: 0;
	padding: 1.4% 5%;
	text-align: left;
}

.header-text {
	font-size: 30px;
	vertical-align: middle;
	margin: 20px;
	cursor: pointer;
}


.home-header {
	margin: 0;
	padding: 0;
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.home-header-search {
	margin: 0 10px;
	padding: 20px;
	padding-right: 220px;
}


.home-header-actions {
	margin: 0;
	padding: 20px 30px;
	display: flex;
}

.header-button {
	color: #fff;
	background-color: #1a1a1a;
	border: none;
	padding: 10px;
	margin: 0 2px;
	box-shadow: none;
	cursor: pointer;
}

.header-button:hover {
	background-color: #1a1a1a;
}

.header-button:active {
	background-color: #1a1a1a;
}


.notification-button {
	color: white;
	position: relative;
}

.notification-button:hover {
	color: white;
}

.notification-button:active {
	color: #d9d9d9;
}

.notification-dot {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 2px 5px;
	border-radius: 50%;
	background-color: red;
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: sans-serif;
}

.message-dot {
	position: absolute;
	top: -5px;
	right: -5px;
	padding: 5px 5px;
	border-radius: 50%;
	background-color: red;
}

.notification-dropdown {
	text-align: center;
	width: 300px;
	padding: 10px;
}

.all-notifications {
	height: 500px;
}

.notification {
	border: none;
	overflow-x: hidden;
	overflow-wrap: break-word;
	background-color: white;
	margin: 5px;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
}

.seen {
	font-weight: normal !important;
}

.unseen {
	font-weight: bold !important;
}

.notification:active {
	background-color: #d9d9d9;
}

.show-all-notification {
	background-color:  #f2f2f2;
}

.modal {
	color: #000;
}

.modal-body {
	overflow-y: scroll;
}