.title-header {
	background-color: #1a1a1a;
	color: #fff;
	margin: 0;
	padding: 1.4% 5%;
	text-align: left;
}

.header-text {
	font-size: 30px;
	vertical-align: middle;
	margin: 20px;
	cursor: pointer;
}


.home-header {
	margin: 0;
	padding: 0;
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.home-header-search {
	margin: 0 10px;
	padding: 20px;
	padding-right: 220px;
}


.home-header-actions {
	margin: 0;
	padding: 20px 30px;
}

.header-button {
	color: #fff;
	background-color: #1a1a1a;
	border: none;
	padding: 10px 20px;
	box-shadow: none;
	cursor: pointer;
}

.header-button:hover {
	background-color: #1a1a1a;
}

.header-button:active {
	background-color: #1a1a1a;
}

.center-text {
	text-align: right !important;
}