body {
	margin: 30px;
	text-align: center;
}

.info-form {
	background-color: grey;
	color: #fff;
	width: 210px;
  	height: 150px;
  	border: 1px solid blue; 
  	padding: 20px;
  	margin: auto;
}


.form-link {
	color: #003333;
}
