
body {
	margin: 0;
	text-align: center;
	background-color: #e9f0e9;
}

input {
	margin: 2px;
	border-radius: 3px;
}

.title-header {
	background-color: #1a1a1a;
	color: #fff;
	margin: 0 0 45px 0;
	padding: 40px 150px;
	text-align: left;
}

.login-form {
	background-color: grey;
	color: #fff;
	width: 210px;
	border: 1px solid black;
	padding: 20px;
	margin: 0 auto;
	border-radius: 6px;
}

.signup-form {
	background-color: grey;
	color: #fff;
	width: 300px;
	border: 1px solid black;
	padding: 20px;
	margin: 0 auto 45px;
	text-align: center;
	border-radius: 6px;
}

.address-form {
	background-color: #3b3b3b;
	color: #fff;
	width: 200px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border-radius: 6px;
}

.form-link {
	color: #003333;
}

.email-box {
	width: 287px;
}


